.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

h1 {
    color: #2a9d8f;
    font-size: 2.5rem;
}

p {
    color: #264653;
    font-size: 1.5rem;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #e76f51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 200px;
    margin: 0 auto;
}

button:hover {
    background-color: #d64523;
}
